.review-box {
  border-bottom: solid 1px gray;
  padding: 5px;
  font-size: 15px;
}

.box {
  margin : 15px 5px;
  padding: 10px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container {
  margin-bottom: 20px;
}
